body {
    margin: 0;
}

.wrapper-gray {
    background-color: $C_gray-main;
}

//start section main
.main {
    position: relative;
    max-width: $width_desc;
    min-height: 780px;
    max-height: $width_desc;
    height: 100vh;
    margin: 0 auto;
    background: url($R_img + "backgrounds/main.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px $ident_desc 0 $ident_desc;

}

.header_navbar {
    display: flex;
    align-items: center;
}

.header_navbar-link {
    margin: 0 0 0 50px;
}

.header_logo {
    box-sizing: border-box;
    $size: 100px;
    $border: 3px;
    $padding: $size/5;
    width: $size;
    height: $size;
    padding: $padding - $border;
    border: $border solid black;

    img {
        display: block;
        width: $size - 2 * ($padding);
        height: $size  - 2 * ($padding);
    }
}

.main_text {
    margin: 160px 0 0 $ident_desc;
    width: 400px;
}

.main_order {
    margin: 80px 0 0 $ident_desc;
}

.main_social {
    position: absolute;
    bottom: 50px;
    right: 80px;
    display: flex;
    flex-direction: row;
}

.main_social-icon {
    margin: 0 0 0 50px;
}

//end section main

//start section about
.about {
    max-width: $width_desc;
    margin: $ident_blocks_desc auto;
    padding: 0 $ident_desc;
    display: grid;
    grid-template-columns: 4fr 3fr 5fr;
    grid-template-rows: repeat(10, auto);
    //grid-auto-columns: minmax(auto, 200px);
    grid-column-gap: 40px;
    //grid-row-gap: 10px;
}

.about_elem {
    //background-color: gray;
}

.about_img-1 {
    width: 400px;
}

.about_img-2 {
    width: 290px;
}

.about_img-3, .about_img-4 {
    width: 510px;
}

.about_elem-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.about_elem-2 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
}

.about_elem-3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

.about_elem-4 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.about_elem-5 {
    grid-row-start: 6;
    grid-row-end: 7;
}

.about_elem-6 {
    grid-row-start: 8;
    grid-row-end: 9;
}

.about_elem-7 {
    grid-row-start: 10;
    grid-row-end: 11;
}

.about_elem-9 {
    grid-row-start: 4;
    grid-row-end: 11;
}

.about_elem-4, .about_elem-5, .about_elem-6, .about_elem-7 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.about_header {
    margin: 0;
}

.about_text {
    margin: 10px 0 10px 0;
}

.about_text-1 {
    margin: 40px 0 10px 0;
}

//end section about

//start section order
.order {
    height: 933px;
    max-width: $width_desc;
    margin: 0 auto;
    background: url($R_img + "backgrounds/3.jpg") no-repeat;
    background-position: left top;
    background-size: $width_desc/2 933px;

}

.order_block {
    width: 50%;
    margin: 0 0 0 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.order_frame {
    margin: 218px 0 0 110px;
    width: 480px;
    border: 1px solid $C_black;
}

.order_text {
    margin: 80px 40px 0 40px;
    width: 400px;
}

.order_btn {
    display: block;
    width: 220px;
    margin: 70px auto 80px auto;
}

//end section order

//start section portfolio
.portfolio {
    margin: $ident_blocks_desc auto;
    padding: $ident_desc;
    max-width: $width_desc;
}

.portfolio_header {
    margin: $ident_blocks_desc/2 0;
}

.portfolio_navbar-link {
    margin: 0 50px 0 0;
}

//end section portfolio

//start section prices
.prices {
    max-width: $width_desc;
    margin: $ident_blocks_desc auto;
    padding: 0 $ident_desc 0 $ident_desc;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.prices_header {
    margin: $ident_blocks_desc/2 0 $ident_blocks_desc/2 0;
}

.prices_wrapper {
    margin: $ident_blocks_desc/2 0 $ident_blocks_desc/2 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.prices_cart {
    border: 1px solid $C_black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 577px;
}

.prices_cart-condition {
    margin: 0 0 50px 0;
}

.prices_cart-order {
    //align-self:end;
    margin-top: auto;
    margin-bottom: 50px;
}

.prices_cart-text {
    margin: 0 0 30px 0;
    max-width: 260px;
}

//end section prices
//start section reviews
// end section reviews
// start section contacts
.contacts {
    margin: 0 auto;
    max-width: $width_desc;
    border: 2px solid transparent;
}

.contacts_header {
    margin: $ident_blocks_desc/2 0 $ident_blocks_desc/2 $ident_desc;
}

.contacts_wrapper {
    margin: $ident_desc/2 150px;
    background: url($R_img + "backgrounds/6.jpg") no-repeat;
    background-size: 590px 890px;
    //background-size: 50%;
    background-position: top left;
}

.contacts_S_header-1 {
    margin: 0 40px 30px 58%;
}

.contacts_S_header-2 {
    margin: 30px 40px 0 58%;
}

.contacts_wrapper_form {
    margin: 0 0 0 40px;
    padding: 93px 0 93px 54.5%;
    border: 1px solid $C_black;
    display: flex;
    flex-direction: column;
}

.contacts_btn {
    margin: 0 0 10px 0;
}

.contacts_input, .contacts_textarea {
    width: 370px;
    margin: 0 0 40px 0;
}

.contacts_conditions {
    width: 370px;
}

// end section contacts

// start section footer
footer {
    margin: 0 auto;
    max-width: $width_desc;
}

.footer_header {
    text-align: center;

}

.footer_wrapper {
    padding: 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_block {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.footer_block_social {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.footer_social {
    text-align: center;
    margin: 0 25px 0 25px;
}

// end section footer
