// CONST
$R_fonts: '../../fonts/';
$R_img: '../../img/';


//Colors
$C_black: rgb(20, 20, 20);
$C_gray-main: rgb(249, 249, 249);
$C_gray-1: rgb(246, 246, 246);
$C_gray-2: rgb(242, 242, 242);
$C_white: rgb(255, 255, 255);


//Variables
$ident_desc: 80px;
$ident_blocks_desc: 240px;
$width_desc: 1440px
